<div class="container mt-3">
    <div class="col-md-12 col-sm-12 col-12 mb-3">
      <h3 class="text-center">Employees</h3>
      <hr>
      <button class="btn btn-sm btn-outline-primary" routerLink="/employee/create">Create Employee</button>
    </div>
    <div class="row justify-content-center align-content-center">
        <div class="col-lg-12 col-md-12 col-sm-6 col-6">
        <table class="table table-bordered table-striped">
          <thead>
            <tr class="text-center">
              <th>Id</th>
              <th>Name</th>
              <th>Employee Code</th>
              <th>Branch Name</th>
              <th>Role Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employees" class="text-center">
              <td>{{ emp.id }}</td>
              <td>{{ emp.name }}</td>
              <td>{{ emp.code }}</td>
              <td>{{ emp.branchName }}</td>
              <td>{{ emp.roleName }}</td>
              <td>
                <button class="btn btn-sm btn-outline-success" routerLink="/employee/update/{{emp.id}}">Edit</button>
                <button class="btn btn-sm btn-outline-danger ms-1" (click)="onClickDelete(emp.id!)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
