<div class="container mt-3">
    <div class="col-md-12 col-sm-12 col-12 mb-3">
      <h3 class="text-center">Employees</h3>
      <hr>
      <button class="btn btn-sm btn-outline-primary" routerLink="/employee/create">Create Employee</button>
    </div>
    <div class="filter-bar">
      <!-- Role Filter -->
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select [(value)]="selectedRole" (selectionChange)="applyFilters()">
          <mat-option [value]="null">All Roles</mat-option>
          <mat-option *ngFor="let role of roles" [value]="role.Name">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Branch Filter -->
      <mat-form-field>
        <mat-label>Branch</mat-label>
        <mat-select [(value)]="selectedBranch" (selectionChange)="applyFilters()">
          <mat-option [value]="null">All Branches</mat-option>
          <mat-option *ngFor="let branch of branches" [value]="branch.Name">
            {{ branch.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Reset Filter -->
      <button mat-stroked-button color="primary" (click)="resetFilters()">Reset Filters</button>
    </div>

    <div class="row justify-content-center align-content-center">
        <div class="col-lg-12 col-md-12 col-sm-6 col-6">
        <table class="table table-bordered table-striped">
          <thead>
            <tr class="text-center">
              <th>Id</th>
              <th>Name</th>
              <th>Employee Code</th>
              <th>Branch Name</th>
              <th>Role Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let city of filteredEmployees" class="text-center">
              <td>{{ city.id }}</td>
              <td>{{ city.name }}</td>
              <td>{{ city.code }}</td>
              <td>{{ city.branchName }}</td>
              <td>{{ city.roleName }}</td>
              <td>
                <button class="btn btn-sm btn-outline-success" routerLink="/employee/update/{{city.id}}">Edit</button>
                <button class="btn btn-sm btn-outline-danger ms-1" (click)="onClickDelete(city.id!)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>