<div class="container mt-3">
  <div class="col-md-12 col-sm-12 col-12">
    <h3 class="text-center">Countries</h3>
    <hr>
    <button class="btn btn-sm btn-outline-primary" routerLink="/country/create">Create Country</button>
  </div>
  <div class="row justify-content-center align-content-center">
    <div class="col-md-6 col-sm-6 col-6">
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="text-center">
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries">
            <td>{{ country.id }}</td>
            <td>{{ country.name }}</td>
            <td>
              <button class="btn btn-sm btn-outline-success" routerLink="/country/update/{{country.id}}">Edit</button>
              <button class="btn btn-sm btn-outline-danger ms-1" (click)="onClickDelete(country.id!)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>